* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  font: 400 18px 'Yanone Kaffeesatz', 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #e02041;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91c36;
}